@font-face {
  font-family: "normandy_beach_halftone";
  src: url("../assets/normandyFont/normandybeachhalftone-lggyw-webfont.woff2")
      format("woff2"),
    url("../assets/normandyFont/normandybeachhalftone-lggyw-webfont.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "normandy_beach_halftone_ita";
  src: url("../assets/normandyFontIta/normandybeachhalftoneitalic-9yrd2-webfont.woff2")
      format("woff2"),
    url("../assets/normandyFontIta/normandybeachhalftoneitalic-9yrd2-webfont.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Confortaa", Arial, sans-serif;
}

cite {
  font-size: 18px;
  font-weight: 500;
  font-family: "Comfortaa", Arial, sans-serif;
}

.descr {
  font-family: "Confortaa", Arial, sans-serif;
}

.nav-title {
  font-weight: 700;
  font-size: 30px;
  font-family: "Comfortaa", Arial, sans-serif;
}

.button-text {
  font-size: 15px;
  font-family: "Comfortaa", Arial, sans-serif;
  font-weight: 700;
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
  font-family: "Comfortaa", Arial, sans-serif;
}

.main-title {
  font-size: 46px;
  font-weight: 700;
  font-family: "Comfortaa", Arial, sans-serif;
}

h2 {
  font-size: 26px;
  font-family: "Comfortaa", Arial, sans-serif;
  color: #00305b;
}

h3 {
  font-size: 20px;
  font-family: "Comfortaa", Arial, sans-serif;
  color: black;
  font-weight: 700;
}

.subheader-text {
  font-size: 26px;
  font-weight: 700;
  font-family: "Comfortaa", Arial, sans-serif;
}

.body-text {
  font-size: 16px;
  font-weight: 500;
  font-family: "Comfortaa", Arial, sans-serif;
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-family: "Comfortaa", Arial, sans-serif;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-family: "Comfortaa", Arial, sans-serif;
}

.cv-title {
  font-size: 20px;
  font-weight: 700;
  font-family: "Comfortaa", Arial, sans-serif;
}

.job-more {
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}
